.appBarDiv {
    z-index: 999;
    position: relative;
}

.myBlob {
    position: relative;
    z-index: 1000;
}

html body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.gradientButton {
    border-radius: 24px;
    background: linear-gradient(180deg, #8064EB 0%, #8932A7 100%);
    color: #FFFFFF;
    width: 150px;
    height: 36px;
}

.gradientYellow {
    background: linear-gradient(180deg, #FCDD8C 0.01%, #F3CF8E 0.02%, #8932A7 100%);
}

h1{
    font-family: 'PT Sans Caption';
    font-weight: 700;
    font-size: 50px;
    letter-spacing: .3rem;
}
h2{
    font-family: 'PT Sans Caption';
    font-weight: 700;
    font-size: 24px;
    color: white;
}
.articleDate{
    text-align: center;
    font-family: 'Noto Sans';
    font-weight: 300;
    font-size: 16px;
    color: white;
    text-decoration: none;
    line-height: 23px;
}
p{
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 16;
    color: #333;
    text-decoration: none;
    line-height: 23px;
    margin: 3em 0;
}

.articleTitle {
    text-align: center;
    font-size: '';
    color: white;
    text-decoration: 'none';
}
.articleTitleWrapper{
    margin-bottom: 400px;
}
/* .gradientSection{
    width: 100%;
    height: 2000px;
} */

